BLUDWORSCHD

Ey iss der DOOF HAHA ALTA ... kann nedmal ne .gitignore schreiwe der honk ... bruahaha

BLUDWORSCHD
BLUUDWORSCHD
BLUUUDWORSCHD
BLUUUUDWORSCHD
BLUUUUUUDWORSCHD
BLUUUUUUUDWORSCHD

OK jetzt wird komisch... ich glaub der Freak ist nen Hesse.
Ich meine ihn auch letztens erst beim alljährlichen Wetterauer Runkerouiberrobbmaschine Wettbewerb gesehen zu haben.

# Unheimelisch
Erinnert mich an diesen krassen Wrestler damals in den 90iger... U N D E R T A K E R

ACH GEH DOCH FODD MANN !

U N D E R T A K E R ging immer so:

FLAAASCHWORSCHD
FLAAAASCHWORSCHD
FLAAAAASCHWORSCHD
FLAAAAAASCHWORSCHD
FLAAAASCHWORSCHD
FLAAAASCHWORSCHD

ICH NEM AUCH HERNN
GELBWORSCHD
GEELBWORSCHD
GEEELBWORSCHD
GEEEELBWORSCHD

H A L T !
Batzis und andere Neandertaler NOPE.. die können nix!

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
